body {
   background-image: url("back1.jpg");
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'Quicksand';
  word-wrap: break-word;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 95%;               
  background-color:red;
  height: 3px;
}

.logo {
  width: 250px;
  height: 250px;
}

.final_logo {
  width: 300px;
  height: 250px;
}
.Login{
  background-color: black;
   display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: black;
}
.SellEnergy{
   display: flex;
  flex-direction: column;
  align-items: center;
}
.Request{
   display: flex;
  flex-direction: column;
  align-items: center;
}
.bbox{
  display: flex;
  flex-direction: column;
   border-style: inset;
  border-width: 7px;
  border-color: coral;
   padding: 3%;
}
.Dashboard{
   display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid #fff;
  padding: 10%;
  margin: 2%;
}

.Transaction {
  padding: 5%;
}

.Blockchain, .ConductTransaction, .TransactionPool {
  margin: 10%;
  margin-top: 5%;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}
input, button {
  color: black;
}